<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>CodeReader</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="ここに説明が入ります">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <link rel="preload" as="style" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#FFF">
    <link rel="apple-touch-icon" href=<%= asset_path "maskable_icon.png" %>>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
